- if user_signed_in? && current_user.id == @note.user_id
  = render "shared/main_page"
  %body.top
    .new_post ノート編集
    = link_to '詳細画面へ', note_path,class:"btn btn-secondary", style:"margin:30px;"
    = render "shared/flash"
    %body.grey.lighten-2
      .container
        .col.s12.m7
          .card.horizontal
            .card-image
              .fadeIn{style:"text-align:center;"}= image_tag "1_shutterstock_1114225754.jpg",size: "500x500"
            .card-stacked
              .card-content
            = form_for(@note) do |f|
              %div{style:"font-size:30px;text-align:center;"}= f.label :タイトル
              %div.card-title{style:"font-size:30px;text-align:center;"}= f.text_field :title
              %div{style:"font-size:30px;text-align:center;"}= f.label :タグ
              %div.card-title{style:"font-size:30px;text-align:center;"}= f.text_field :tag_list, value: @note.tag_list.join(',')
              %div{style:"font-size:30px;text-align:center;"}= f.label :ノート
              %div{style:"margin:0px 0px 100px 10px;font-size:20px;text-align:center;"}= f.text_area :memo, class:"introduce"
              %div{style:"text-align:center;font-size:30px;margin-bottom:20px;"}= f.submit "更新する",class:"btn alert-info",style:"font-size:30px;margin-bottom:30px;"
- else
  = render "shared/main_page"
  %body.top ※データが存在しません
  = link_to '戻る', notes_path,class:"btn btn-dark", style:"margin:30px;"