= render "shared/main_page"
%body.top
  .new_post ノート一覧
  - if flash[:notice]
    .flash{style:"font-size:30px;color:blue;margin-left:100px;"}
      = flash[:notice]
  %table.table
    %thead.thead-dark
      %tr
        %th タイトル
        %th 内容
        %th 詳細
        %th 削除
      %tbody
      - @user.notes.each do |note|
        %tr
          %td= note.title
          %td= note.memo
          %td= link_to '閲覧', note_path(note),class:"btn btn-primary"
          %td= link_to '削除', note_path(note), method: :delete,class:"btn btn-danger"
      = link_to '戻る', root_path,class:"btn btn-dark", style:"margin:30px;"
      = link_to 'ノートを追加', new_note_path,class:"btn btn-success"