.card.col-sm-6.mx-auto.mt-5
  .card-body
    %h3.mt-1.mb-3 アカウントを作成
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :name
        = f.text_field :name, autofocus: true, class: 'form-control'
      .form-group
        = f.label :email, "メールアドレス", class: "form-label"
        = f.email_field :email, autocomplete: "email", class: "form-control"
      .form-group
        = f.label :password, "パスワード (%s文字以上)" %@minimum_password_length, class: "form-label"
        = f.password_field :password, class: "form-control"
      .form-group
        = f.label :password_confirmation, "もう一度パスワードを入力してください", class: "form-label"
        = f.password_field :password_confirmation, class: "form-control"
      .actions
        = f.submit "アカウントを作成する", class: "btn btn-light btn-block border mt-1"
    .mt-2
      すでにアカウントをお持ちですか？#{link_to "ログイン", new_user_session_path}