= render "shared/main_page"
%body.top
  .new_post タグ一覧
  = link_to '一覧へ', notes_path,class:"btn btn-secondary", style:"margin:30px;"
  = link_to 'ノートを追加', new_note_path,class:"btn btn-info",style:"margin-left:150px;"
  = render "shared/flash"
  %table.table
    %thead.thead-dark
      %tr
        %th タイトル
        %th タグ(絞り込み)
        %th 作成日時
        %th 最終更新時間
        %th 詳細
        %th 削除
      %tbody
      - @notes.each do |note|
        %tr
        - if user_signed_in? && current_user.id == note.user_id
          %td= note.title
          %td= render 'shared/tag_list', tag_list: note.tag_list
          %td= note.created_at.strftime("%Y-%m-%d %H:%M")
          %td= note.updated_at.strftime("%Y-%m-%d %H:%M")
          %td= link_to '閲覧', note_path(note),class:"btn btn-primary"
          %td= link_to '削除', note_path(note), method: :delete,class:"btn btn-danger"