= render "shared/main_page"
%body.top
  %table.top1
    .new_post 会話一覧
    =link_to "戻る", root_path, class:"btn btn-dark", style:"margin:30px;"
    = render "shared/flash"
    %thead.top3
      %tr.top6
        %th.top2 登録
        %th.top2 日本語
        %th.top2 ベトナム語
        %th.top2 発音
      %tbody.top5
      - @conversations.each do |conversation|
        - favorite_conversation = FavoriteConversation.find(conversation.favorite_conversation_ids)
        %tr.top6
        - if FavoriteConversation.find_by(user_id: current_user.id, conversation_id: conversation.id)
          %td.top4= link_to "", favorite_conversation_path(favorite_conversation), method: :delete, class:"fas fa-star",style:"color:#BAD3FF;"
          %td.top4= conversation.japanese_conversation
          %td.top4= conversation.vietnamese_conversation
          %td.top4= conversation.intonation_conversation
        - else
          %td.top4= link_to "", add_conversation_path(conversation), method: :post, class:"fas fa-star", style:"color:#00acee;"
          %td.top4= conversation.japanese_conversation
          %td.top4= conversation.vietnamese_conversation
          %td.top4= conversation.intonation_conversation
      = paginate(@conversations)
  = paginate(@conversations)