%table
  = link_to "戻る", root_path, class:"btn btn-secondary"
  = link_to "単語集", "items/home", class:"btn btn-secondary"
  %thead
    %tr
      %th 日本語
      %th ベトナム語
      %th 発音
      %th 削除
  %tbody
  - @user.items.each_with_index do |item, i|
    %tr
      %td= item.japanese
      %td= item.vietnamese
      %td= item.intonation
      %td= link_to "削除", favorite_path(@favorites[i][:id]), method: :delete, class:"fas fa-cut",style:"color:red;"