.admin__header
  .logo
    =link_to "TRIP VIETNAM", root_path
  .toolbar
    .toolbar__left
      =link_to "お気に入り単語", favorites_path, class:"btn btn-info",style:"margin:15px;"
      =link_to "お気に入り会話", favorite_conversations_path, class:"btn btn-info"
    .alert.alert-info{role: "alert",style:"margin-top:20px;"}
      = link_to @user.name, users_path,style:"color:#00acee;"
      さん
  .form-inline.my-2.my-lg-0{style:"margin-left:30px;"}
    = search_form_for @search, url: edit_item_path(current_user) do |f|
      = f.text_field :japanese_cont ,placeholder: '単語を検索....',class: "form-control mr-sm-2"
      = f.submit ("検索") , class:"btn btn-outline-success my-2 my-sm-0",style:"margin-right:40px;"
    .toolbar__right
      =link_to"https://www.facebook.com/sharer/sharer.php?u=###url###", {onclick:"window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false",target:"_blank"}do
        .btn.fab.fa-facebook-square{style:"padding:0 30px 0 0;font-size:35px;color:#315096;"}
      =link_to"http://line.me/R/msg/text/?###url###",{onclick:"window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false",target:"_blank"}do
        .btn.fab.fa-line{style:"padding:0 30px 0 0;font-size:35px;color:#00c300;"}
      =link_to"https://twitter.com/intent/tweet?text&related=TwitterJP ",{onclick:"window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false",target:"_blank"}do
        .btn.fab.fa-twitter{style:"padding:0 30px 0 0;font-size:35px;color:#00acee;"}
      = link_to "ログアウト",destroy_user_session_path,method: :delete, class: "btn btn-dark",style:"margin-right:20px;"