.admin
  %header.admin__header
    .logo
      =link_to "TRIP VIETNAM", root_path
    .toolbar
      .toolbar__left
        .dropdown
          %button#dropdownMenu1.btn.btn-warning.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            お気に入り
          .dropdown-menu
            =link_to "お気に入り単語", favorites_path, class:"dropdown-item",style:"color:#00acee;"
            =link_to "お気に入り会話", favorite_conversations_path, class:"dropdown-item",style:"color:#00acee;"
      .toolbar__left
        .dropright{style:"margin-right:300px;"}
          %button#dropdownMenu1.btn.btn-outline-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            検索
          .dropdown-menu
            = search_form_for @search do |f|
              = f.text_field :japanese_cont ,placeholder: '単語を検索....',class: "form-control"
              = f.submit class:"btn btn-outline-info"
            = search_form_for @search2, url: conversation_path(current_user) do |f|
              = f.text_field :japanese_conversation_cont ,placeholder: '会話 文章を検索....',class: "form-control"
              = f.submit class:"btn btn-outline-info"
      .alert.alert-info{style:"margin-top:20px;"}
        = link_to @user.name, users_path,style:"color:#00acee;"
        さん 
    .form-inline.my-2.my-lg-0
      .toolbar__right
        =link_to"https://www.facebook.com/sharer/sharer.php?u=###url###", {onclick:"window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false",target:"_blank"}do
          .btn.fab.fa-facebook-square{style:"padding:0 30px 0 0;font-size:35px;color:#315096;"}
        =link_to"http://line.me/R/msg/text/?###url###",{onclick:"window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false",target:"_blank"}do
          .btn.fab.fa-line{style:"padding:0 30px 0 0;font-size:35px;color:#00c300;"}
        =link_to"https://twitter.com/intent/tweet?text&related=TwitterJP ",{onclick:"window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false",target:"_blank"}do
          .btn.fab.fa-twitter{style:"padding:0 30px 0 0;font-size:35px;color:#00acee;"}
        = link_to "ログアウト",destroy_user_session_path,method: :delete, class: "btn btn-dark",style:"margin-right:50px;"
  %nav.admin__nav
    %ul.menu
      %li.menu__title Word
      %li.menu__item
        = link_to "単語集",item_path(current_user),class:"menu__link"
      %li.menu__item
        = link_to "会話 文章集", conversations_path(current_user),class:"menu__link"
      %li.menu__title note
      %li.menu__item
        = link_to "ノート",notes_path,class:"menu__link"
      %li.menu__title Account
      %li.menu__item
        = link_to "ベトナムの歴史", "https://ja.wikipedia.org/wiki/%E3%83%99%E3%83%88%E3%83%8A%E3%83%A0%E3%81%AE%E6%AD%B4%E5%8F%B2",class:"menu__link"
      %li.menu__item
        = link_to "アカウント編集", edit_registration_path(current_user), class: "menu__link"
      /今後実装予定
      -# %li.menu__item
      -#   %a.menu__link{:href => "#"} 課題
      -# / <li class="menu__divider"></li>
      -# %li.menu__title problem
      -# %li.menu__item
      -#   %a.menu__link{:href => "#"} 練習問題
      -# %li.menu__item
      -#   %a.menu__link{:href => "#"} ランダム問題（単語）
      -# %li.menu__item
      -#   %a.menu__link{:href => "#"} ランダム問題（会話、文章）

  - if @check.present?
    %main{style:"padding:0 25px 0 25px;"}
      = render "shared/search_items"
    %footer.admin__footer
  - else
    %main.admin__main
      .dashboard
        .dashboard__item
          .card
            .card__header
              ベトナム語の声調
            .card__content
              .card__item
                ・Thanh ngang (平らな声調)
                %br
                %br
                ・Thanh huyền (下がる声調)
                %br
                %br
                ・Thanh sắc (鋭い声調)
                %br
                %br
                ・Thanh hỏi (尋ねる)
                %br
                %br
                ・Thanh ngã (倒れる声調)
                %br
                %br
                ・Thanh nặng (重い声調)
        .dashboard__item
          .card
            .card__header
              ベトナム語のアルファベット
            .card__content
              .card__item
                使用するアルファベットは、次の29文字
                %br
                %br
                %br
                a　ă　â　b　c　d　đ　e　ê　g　h　i　k　l　m　n　o　ô　ơ　p　q　r　s　t　u　ư　v　x　y
                %br
                %br
                %br
                A　Ă　Â　B　C　D　Đ　E　Ê　G　H　I　K　L　M　N　O　Ô　Ơ　P　Q　R　S　T　U　Ư　V　X　Y  
        .dashboard__item.dashboard__item--full{style:"height:500px;"}
          .card
            .card__header
              ベトナム語概要
            .card__content
              .card__item
                インド文化圏にあるタイ、カンボジア、ラオス、ミャンマーはそれぞれインド系の固有の文字を持っていますが、ベトナムだけはアルファベットを使っています。ベトナムには固有の文字がなく、表記は古くから漢字・漢文が使われてきました。ただし、発音はベトナム語読みでした。それが漢越語と言われているものです。
                %br
                ベトナム語の発音は、中国語にあるような声調が 6 つあることで有名です。また、日本語にない音の区別がたくさんあり、日本語よりも音の区別をずっとはっきりと発音します。カタカナを読み上げるような発音では全く通じず、一般にベトナム語の発音はとても難しいとされています。近年、日本とベトナムの距離が縮まってくるに従って、ベトナム語の需要は高まりつつあります。日本でベトナム語を話せる人材はまだまだ多いとは言えず、今後期待される言語となるでしょう。
    %footer.admin__footer