= render "shared/main_page"
%body.top
%table.bottom
  .new_post 単語一覧
  =link_to "戻る", root_path, class:"btn btn-dark", style:"margin:30px;"
  -# = render "shared/flash"
  %thead
    %tr
      %th.bottom 登録
      %th.bottom 日本語
      %th.bottom ベトナム語
      %th.bottom 発音
    %tbody
    - @items.each do |item|
      - favorite = Favorite.find(item.favorite_ids)
      %tr
      - if Favorite.find_by(user_id: current_user.id, item_id: item.id)
        %td.bottom1= link_to "", favorite_path(favorite), method: :delete, class:"fas fa-star", style:"color:gold;"
        %td.bottom1= item.japanese
        %td.bottom1= item.vietnamese
        %td.bottom1= item.intonation
      - else
        %td.bottom1= link_to "", add_item_path(item), method: :post, class:"fas fa-star", style:"color:#BAD3FF;"
        %td.bottom1= item.japanese
        %td.bottom1= item.vietnamese
        %td.bottom1= item.intonation
    = paginate(@items)
= paginate(@items)